<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>thedarkprincedc - Webpage of Brett Mosley</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .resume_title{
            font-size:3em;
        }
        .resume_header {
            font-size: 1.7em;
        }
    </style>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <!--<i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap-->
                    <!--<span class="light">Brett Mosley</span>-->
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#resume">Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                 
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="brand-heading">Brett Mosley</h1>
                        <p class="intro-text">Software Developer / Systems Administrator</p>
                        <!--<a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container text-center" style="padding-top:30%;padding-bottom:200px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p> "I live and breathe Software and Technology"
                    - Brett Mosley
            </div>
        </div>
    </section>
 <!-- Resume Section -->
    <section id="resume" class="container" style="padding-top:75px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="text-center">Resume</h2>
                <div ng-Resume></div>
        </div>
    </section>
    <!-- Download Section -->
    <section id="projects">
        <div style="padding-top:75px;padding-bottom:300px;">
            <div class="container">
                <div class="col-lg-12">
                    <h2 class="text-center">Projects</h2>
                    <div ng-Projects></div>
                </div>
            </div>
        </div>
    </section>
   

    <!-- Contact Section -->
    <section id="contact" class="container text-center" style="padding-bottom:200px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <p>Looking for a Developer or Systems Administrator to join your team?<br/> Feel free to contact me.</p>
                <p><a href="mailto:brett.t.mosley@gmail.com">brett.t.mosley@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.linkedin.com/in/brettmosleydev" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin-square"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/thedarkprincedc" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section 
    <div id="map"></div>
-->
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <!--<p>Copyright &copy; Brett Mosley 2015</p>-->
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
    <script src="js/angular-1.4.7/angular.js"></script>
    <script type="text/javascript">
        'use strict';

        var app = angular.module('myApp', ['myAppControllers']);
        var SynoSearchControllers = angular.module('myAppControllers', []);
        
       app.directive('ngResume', function() {
            return {
                template: `<div class="text-center resume_header">{{title}}</div>
                            <span class="resume_header">Education</span><br/>
                            <b>Bachelor of Science, Information Technology, Class of 2010</b><br/>
                            <u>Rochester Institute of Technology</u>, Rochester, NY<br/>
                            <b>Concentrations: Game Design, Interactive Multimedia Development</b><br/>
                            <span class="resume_header">Summary of Skills</span><br/>
                            {{skillItems.summary.join(", ")}}<br/>
                        <ul ng-repeat="item in skillItems.details">
                            <li style="list-style-type:none;list-style-position: outside;" class="resume_header">{{item.name}}</li>
                            <ul ng-repeat="subitem in item.list">
                                <li>{{subitem.name}}</li>
                                <ul><li>{{subitem.list.join(", ")}}</li></ul>
                            </ul>
                            <ul ng-repeat="subitem in item.ulist">
                                <li>{{subitem}}</li>
                            </ul>
                        </ul>
                        <span class="resume_header">Experience</span><br/>
                        <span ng-repeat="item in experienceItems">
                                {{item.position}}, {{item.company}}<br/>
                                {{item.location}}&nbsp;&nbsp;&nbsp;{{item.startDate}} - {{item.endDate}}<br/>
                                <ul ng-repeat="subitem in item.list">
                                    <li>{{subitem}}</li>
                                </ul>      
                        </span>
                        Download <a>PDF</a> | <a>DOCX<a/>
                        `,   
                controller : ['$scope', '$http', '$rootScope','$timeout',function($scope, $http, $rootScope, $timeout) {
                    $.getJSON("./resume.json", function(msg){
                        $scope.title = msg.info.title;
                        $scope.contactInfo = msg.contactInfo;
                        $scope.skillItems = msg.skills;
                        $scope.experienceItems = msg.experience;
                        $scope.$apply();
                        debugger;
                    })
                }],
                link : function(scope, iElement, iAttrs, ctrl) {
                
                }
            }
        });
        app.directive('ngProjects', function() {
            return {
                template: `<div class="row">
                                <div ng-repeat="item in projectList" class="col-xs-8 col-xs-offset-2"> 
                                   
                                    <div class="media" style="padding:10px">
                                    <div class="media-left" >
                                        <a href="#">
                                        <img class="media-object" ng-src="{{(item.img)?item.img:'./img/no-image-available.jpg'}}" alt="..." width="175px">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">{{item.name}} ({{item.year}})</h4>
                                        {{item.desc}}<br/>
                                        <a href="{{item.repository}}">Repository</a> | <a href="{{item.link}}">Link</a>
                                    </div>
                                    </div>                 
                                </div>
                           </div>`,   
                controller : ['$scope', '$http', '$rootScope','$timeout',function($scope, $http, $rootScope, $timeout) {
                     $.getJSON("./projects.json", function(msg){
                          $scope.projectList = msg.projects;
                           $scope.$apply();
                      
                      });
                }],
                link : function(scope, iElement, iAttrs, ctrl) {
                     debugger;
                }
            }
        });
    </script>
</body>

</html>
